nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.nav__menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav__menu li {
  text-transform: uppercase;
}
.nav__menu li span {
  font-size: 1.3rem;
}
.nav__menu li span,
.nav__menu li a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
}

.nav__menu li a[data-enabled='true']:after {
  content: '';

  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 1.5px;

  background-color: var(--cl-primary);
  animation: changeLocation 0.3s ease-in-out forwards;
}

.nav__menu-icon {
  display: none !important;
}

@keyframes changeLocation {
  to {
    transform-origin: center;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: var(--cl-bg-primary);
    justify-content: space-around;
    padding: 1.2rem 0.5rem;
  }

  .nav__menu-icon {
    display: flex !important;
  }
}
